:root {
  --font-size: 30px;
  --border-raius: 10px;
}

* {
  box-sizing: border-box;
  border-radius: var(--border-raius);
}

body {
  background-color: rgb(63, 63, 67);
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  background-image: url("./img/background.png");
  background-size: 100% 100%;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field_btn {
  outline: 0;
  border: 0;
  padding: 0.5em 1em;
  font-size: var(--font-size);
  margin: 0.5em;
}

.timer {
  width: 100px;
  text-align: center;
  font-size: var(--font-size);
  border: 3px solid black;
  background-color: white;
  margin-bottom: 0.5em;
  visibility: hidden;
}

.score {
  width: 40px;
  color: white;
  font-size: var(--font-size);
  text-align: center;
  border: 3px solid black;
  border-radius: 50%;
  background-color: coral;
  margin-bottom: 0.5em;
  visibility: hidden;
}
.ground {
  position: relative;
  width: 100%;
  height: 300px;
}

.replay {
  width: 400px;
  height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-150%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
}

.replay-hide {
  visibility: hidden;
}

.replay_btn {
  outline: 0;
  border: 0;
  padding: 0.3em;
  font-size: var(--font-size);
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}

.level {
  position: absolute;
  left: 20%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
}
